{
  "presets": [
    ["@babel/preset-env",
      {
      "modules": false ,
      "targets":{
        "browsers": ["last 2 versions", "last 3 iOS versions", "Android >= 4.0"]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-async-to-generator",
    "lodash"//使用lodash库是减少体积  模块
  ]
}
